* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --blue-background: #0053A9;
  --color-letter: #FFF;
  --color-letter-paragraph: #ADADAD;
}

body {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #0053A9;
  width: 419px;
  height: 37px;
}

hr {
  width: 92px;
  height: 5px;
  border-radius: 9px;

  background-color: var(--blue-background);

  margin-top: 8px;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

header .fundo-azul {
  background-color: #0053A9;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .fundo-azul p {
  text-align: center;
  color: var(--color-letter);
  margin-right: 10px;
}

header .fundo-azul p span {
  font-weight: 600;
}

header .fundo-azul p img {
  width: 81px;
  height: 28px;
}

header .procurar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  max-width: 1200px;
  margin: auto;
}

header .procurar input {
  background-color: #F2F2F2;
  width: 524px;
  height: 63px;
  margin-right: 27px;
  border-radius: 10px;
  border: transparent;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-letter-paragraph);
  text-transform: inherit;
  padding-left: 21px;
  padding-top: 22px;
  padding-bottom: 24px;
}

.procurar .contato {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contato .icones {
  margin-right: 9px;
}

.contato p {
  color: var(--color-letter-paragraph);
}

.contato p span {
  font-weight: 700;
}

.com-o-que-trabalhamos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  max-width: 1200px;
  margin: auto;
}

.com-o-que-trabalhamos .icones {
  margin-right: 10px;
}
.com-o-que-trabalhamos p {
  margin-left: 10px;
  color: var(--color-letter-paragraph);
}

.com-o-que-trabalhamos .promocao {
  margin-right: 17px;
}

.banner {
  width: 100%;
}

main {
  max-width: 1200px;
  margin: auto;
}

.nosso-forte {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  height: 100px;
  padding-top: 38px;
  padding-bottom: 35px;
  margin-right: 17px;
}

.nosso-forte div {
  margin-right: 52px;
  display: flex;
  justify-content: baseline;
}

.nosso-forte div.ultimo {
  margin-right: 0;
}

.nosso-forte img {
  margin-right: 12px;
}

.nosso-forte li {
  color: var(--color-letter-paragraph);
  font-weight: 500;
  font-size: 14px;
  line-height: 100px;
}

section.produtos {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.produto {
  position: relative;
  margin: 0 22px;
}

.produto .imagens-banner {
  width: 370px;
  height: 300px;
}

.imagens-banner.-ultimo {
  margin-right: 17px;
}

.produto .informacoes {
  position: absolute;
  top: 51%;
  left: 32%;
}

.produto .informacoes .titulo-produto {
  color: var(--color-letter);
  width: 100%;
  font-size: 25px;
}

.produto .informacoes .produto-botao {
  background-color: var(--color-letter);
  margin-top: 25px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  width: 167px;
  height: 45px;
  margin-left: 40px;
}

.destaques {
  display: flex;
  gap: 10px;
}

.produto-destaque {
  height: 100vh;
  width: 300px;
  padding: 12px;
  position: relative;
  box-shadow: 0px 0px 10px 0px #00000024;
}

.imagem-destaque {
  background-color: #ADADAD;
  width: 270px;
  Height: 297px;
}

.produto-destaque, .imagem-destaque {
  border-radius: 10px;
}