* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --blue-background: #0053A9;
  --color-letter: #FFF;
  --color-letter-paragraph: #ADADAD;
  --color-price: #828282;
  --color-button-add: #32B864;
  --color-background-black: #000;
  --color-background-line: #B2B2B2;
}

body {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #0053A9;
  width: 419px;
  height: 37px;
}

hr {
  width: 92px;
  height: 5px;
  border-radius: 9px;

  background-color: var(--blue-background);

  margin-top: 8px;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

header .fundo-azul {
  background-color: var(--blue-background);
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .fundo-azul p {
  text-align: center;
  color: var(--color-letter);
  margin-right: 10px;
}

header .fundo-azul p span {
  font-weight: 600;
}

header .fundo-azul p img {
  width: 81px;
  height: 28px;
}

header .procurar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  max-width: 1200px;
  margin: auto;
}

header .procurar input {
  background-color: #F2F2F2;
  width: 524px;
  height: 63px;
  margin-right: 27px;
  border-radius: 10px;
  border: transparent;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-letter-paragraph);
  text-transform: inherit;
  padding-left: 21px;
  padding-top: 22px;
  padding-bottom: 24px;
}

.procurar .contato {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contato .icones {
  margin-right: 9px;
}

.contato p {
  color: var(--color-letter-paragraph);
}

.contato p span {
  font-weight: 700;
}

.com-o-que-trabalhamos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  max-width: 1200px;
  margin: auto;
}

.com-o-que-trabalhamos .icones {
  margin-right: 10px;
}
.com-o-que-trabalhamos p {
  margin-left: 10px;
  color: var(--color-letter-paragraph);
}

.com-o-que-trabalhamos .promocao {
  margin-right: 17px;
}

.banner {
  width: 100%;
}

main {
  max-width: 1200px;
  margin: auto;
}

.nosso-forte {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  height: 100px;
  padding-top: 38px;
  padding-bottom: 35px;
  margin-right: 17px;
}

.nosso-forte img {
  margin-right: 12px;
}

.nosso-forte li {
  color: var(--color-letter-paragraph);
  font-weight: 500;
  font-size: 14px;
  line-height: 100px;
}

section.produtos {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.produto {
  position: relative;
  margin: 0 20px;
}

.produto .imagens-banner {
  width: 370px;
  height: 300px;
}

.imagens-banner.-ultimo {
  margin-right: 17px;
}

.produto .informacoes {
  position: absolute;
  top: 51%;
  left: 32%;
}

.produto .informacoes .titulo-produto {
  color: var(--color-letter);
  width: 100%;
  font-size: 25px;
}

.produto .informacoes .produto-botao {
  background-color: var(--color-letter);
  margin-top: 25px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  width: 167px;
  height: 45px;
  margin-left: 40px;
}

.destaques {
  display: flex;
  gap: 8px;
}

.produto-destaque {
  height: 100%;
  padding: 12px 10px 0px 12px;
  position: relative;
  box-shadow: 0px 0px 10px 0px #00000024;
}

.imagem-destaque {
  background-color: var(--color-letter-paragraph);
  width: 270px;
  Height: 297px;
}

.produto-destaque, .imagem-destaque {
  border-radius: 10px;
}

.destaques .produto-destaque .descricao {
  color: #3A3A3A;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  line-height: 17px;
}

.destaques .produto-destaque .informacoes-preco {
  margin-bottom: 20px;
  text-align: center;
}

.destaques .produto-destaque .informacoes-preco .desconto {
  display: inline-block;
  color: var(--color-price);
  text-decoration: line-through;
  margin-right: 8px;
  font-size: 18px;
}

.destaques .produto-destaque .informacoes-preco .real {
  display: inline-block;
  margin-left: 8px;
  font-weight: 700;
  font-size: 25px;
}

.destaques .produto-destaque .pagamento-credito {
  text-align: center;
  margin: 10px 0;
}

.destaques .produto-destaque .pagamento-credito span {
  font-weight: 700;

}

.destaques .produto-destaque .pagamento-boleto {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.destaques .produto-destaque .botao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.destaques .produto-destaque .botao .quantidade {
  width: 82px;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  font-size: 15px;

  position: relative;
}

.destaques .produto-destaque .botao .seta-cima, 
.destaques .produto-destaque .botao .seta-baixo {
  width: 7px;
  height: 6px;
}

.destaques .produto-destaque .botao .seta-cima {
  position: absolute;
  top: 533px;
  left: 75px;
}

.destaques .produto-destaque .botao .seta-baixo {
  position: absolute;
  top: 557px;
  left: 75px;
  color: var(--blue-background);
}

.destaques .produto-destaque .botao .adicionar {
  background-color: var(--color-button-add);
  border: none;
  padding: 16px 58px 18px 37px;
  border-radius: 10px;
  font-size: 15px;
  color: var(--color-letter);
  font-weight: 700;
}

.destaques .produto-destaque .porcentagem-desconto {
  background-color: var(--color-background-black);
  color: var(--color-letter);
  font-size: 12px;
  padding: 9px 19px 8px 10px;
  border: none;
  border-radius: 10px;
  position: absolute;
  left: 12px;
  top: 12px;
}

.alguns-produtos {
  margin-top: 50px;
  display: flex;
  gap: 15px;
}

.alguns-produtos .conteudo img {
  width: 392px;
}

.marcas {
  margin-top: 50px;
  margin-bottom: 53px;
}

.marcas .conteudo {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.marcas .conteudo .retangulo {
  width: 170px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px #00000024;
  padding: 10px 7px 9px 25px;
}

.marcas .conteudo .retangulo img {
  width: 120px;
}

.parte-video {
  margin: 50px 0;
  width: 100%;
}

.clientes {
  display: flex;
  margin-bottom: 50px;
  gap: 20px;
}

.clientes .cliente {
  box-shadow: 0px 1px 15px 0px #00000024;
  padding: 20px;
  width: 385px;
}

.clientes .cliente .parte-cima {
  display: flex;
}

.clientes .cliente .parte-cima .foto-cliente {
  margin: 15px 16px 14px 70px;
  width: 94px;
  height: 94px;
}

.clientes .cliente .parte-cima .nome-cliente {
  font-weight: 700;
  font-size: 24px;
  margin-top: 30px;
  width: 140px;
  color: var(--color-price);
}

.clientes .cliente .parte-cima .cliente-e-nivel {
  margin-top: 10px;
}

.clientes .cliente .parte-cima .nivel-cliente {
  display: block;
  height: 14px;
}

.clientes .cliente .linha {
  width: 357px;
  height: 1px;
  margin: 14px auto 20px;
  background-color: var(--color-background-line);
}

.clientes .cliente .parte-baixo {
  width: 287px;
  margin: auto;
  text-transform: lowercase;
  font-size: 14px;
}

.destaques.-ofertas {
  margin-bottom: 56px;
}

.rede-social {
  margin-bottom: 13px;
}

.rede-social .conteudo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rede-social .conteudo .subtitulo {
  margin-top: 20px;
}

.rede-social .conteudo .subtitulo .siga {
  margin-bottom: -10px;
  width: 450px;
}

.rede-social .conteudo .subtitulo .siga span {
  display: inline-block;
  font-weight: 400;
}

.rede-social .imagens-rede-social {
  margin-top: 20px;
  width: 1200px;
}